<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="app" class="container">
      <div class="title">
        <h1>Typing Game</h1>
        <div class="marker"></div>
      </div>

      <button
        v-if="startFlg!=true"
        class="startButton mb-20"
        @click="gameStart(); start()"
      >
        START
      </button>
      <div v-if="startFlg">
        <div class="question mb-20">{{ current_question }}</div>
        <div v-if="current_question_counts == question_counts" class="clear">
          Clear
        </div>
        <div class="typeFormWrapper mb-20">
          <input
            id="typeForm"
            v-if="current_question_counts !== question_counts"
            v-model="typeBox"
            type="text"
            class="typeForm"
          />
        </div>
        <div class="gaugeWrapper">
          <div v-bind:style="styleObject" 　class="gauge"></div>
        </div>
        <div>{{ this.current_question_counts }}/{{ question_counts }}</div>
      </div>
      <div id="timer">
        <div class="timer">
          <div class="time">
            {{ formatTime }}
          </div>
        </div>
      </div>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          startFlg: "",
          current_question: "",
          questions: ["apple", "banana", "chocolate", "donut", "espresso"],
          typeBox: "",
          current_question_counts: 0,
          question_counts: 0,
          min: 0,
          sec: 0,
          timerOn: false,
          timerObj: null,
        },
        computed: {
          styleObject: function () {
            width = 20 * this.current_question_counts + "%";
            if (this.current_question_counts == 5) {
              color = "#03a9f4";
            } else {
              color = "orange";
            }
            return {
              width: width,
              "background-color": color,
            };
          },

          formatTime: function() {
            let timeStrings = [
              this.min.toString(),
              this.sec.toString()
            ].map(function(str) {
              if(str.length < 2) {
                return "0" + str
              } else {
                return str
              }
            })
            return timeStrings[0] + ":" + timeStrings[1]
          }
        },
        methods: {
          gameStart: function () {
            this.startFlg = true;
            this.$nextTick(function () {
              //スタートしたタイミングでカーソルをつける
              document.getElementById("typeForm").focus();
            });
          },
          count:function() {
            // count関数 = setIntervalにより毎秒呼ばれる関数
            // ①0秒以下 && 1分を切っていない→分数を-1,秒を59にリセット
            // ②0秒以下 && 0分台→終了
            // ③それ以外 && 秒数を-1
            if(this.sec > 59) {
              this.min ++;
              this.sec = 00;
            }else if(this.sec > 59 && this.min > 59){
              this.complete();
            }else {
              this.sec ++;
            }

            if(this.current_question_counts == this.question_counts){
              this.stop();
            }
          },

          start: function(){
            let self = this;
            this.timerObj = setInterval(function() {self.count()}, 10)
            this.timerOn = true
          },

          stop: function() {
            clearInterval(this.timerObj);
            this.timerOn = false
          },

          complete: function() {
            clearInterval(this.timerObj)
          }
        },
        mounted: function () {
          //描画されたタイミングで走る
          this.current_question = this.questions[0];
          this.question_counts = this.questions.length;
        },
        watch: {
          //テキストフォームに何か入力されるたびに走る
          typeBox: function (e) {
            if (e == this.current_question) {
              this.questions.splice(0, 1);
              this.current_question = this.questions[0];
              this.typeBox = "";
              this.current_question_counts = this.current_question_counts + 1;
            }
          },
        },
      });
    </script>
  </body>
</html>
